body {
    background-color: grey;
}

.container {
    width: 260px;
    height: 720px;
    border: 20px solid white;
    background: white;
    box-sizing: border-box;
    margin: 50% 50%;
}
.red-box {
    background-color: red;
    width: 220px;
    height:220px;
    border: 20px solid rgb(113, 31, 31);
    box-sizing: border-box;
    margin-bottom: 10px;
}

.yellow-box {
    background-color: yellow;
    width: 220px;
    height: 220px;
    border: 20px solid rgb(184, 131, 69);
    box-sizing: border-box;
    margin-bottom: 10px;
}

.green-box {
    background-color: green;
    width: 220px;
    height: 220px;
    border: 20px solid rgb(50, 86, 50);
    box-sizing: border-box;
}